<section class="hero">
  <div id="slider">
    <input type="radio" name="slider" id="slide1" checked>
    <input type="radio" name="slider" id="slide2">
    <input type="radio" name="slider" id="slide3">
    <input type="radio" name="slider" id="slide4">
    <div id="slides">
      <div id="overflow">
        <div class="inner ">
          <div class="slide slide_1">
            <div class="slide-content container row">
              <div class="text-content col-8 d-flex flex-column justify-content-center">
                <h2>APPO</h2>
                <p>APPO, tu billetera virtual donde podés comprar, vender moneda extranjera, y pagar tus servicios de la
                  menra mas fácil, práctica y segura posible.</p>
              </div>
              <div class="image col-4">
                <img src="assets/icons/instagram-svgrepo-com.svg" alt="">
              </div>
            </div>
          </div>
          <div class="slide slide_2">
            <div class="slide-content container row">
              <div class="text-content col-8 d-flex flex-column justify-content-center">
                <h2>CRIPTOMONEDAS</h2>
                <p>Nueva funcionalidad orientada al manejo de monedas digitales, conocidas como criptomonedas. Creá tu cuenta y conocé como operar.</p>
              </div>
              <div class="image col-4">
                <img src="assets/icons/instagram-svgrepo-com.svg" alt="">
              </div>
            </div>
          </div>
          <div class="slide slide_3">
            <div class="slide-content container row">
              <div class="text-content col-8 d-flex flex-column justify-content-center">
                <h2>PLAZOS FIJOS</h2>
                <p>Invertí ya tu dinero en una especie de plazo fijo, sin costos adicionales. Además podes usar tu plata mientras está rindiendo. Creá tu cuenta y conocé más.</p>
              </div>
              <div class="image col-4">
                <img src="assets/icons/instagram-svgrepo-com.svg" alt="">
              </div>
            </div>
          </div>
          <div class="slide slide_4">
            <div class="slide-content container row">
              <div class="text-content col-8 d-flex flex-column justify-content-center">
                <h2>APPO</h2>
                <p>PilMoney, tu billetera virtual donde podés comprar, vender moneda extranjera, y pagar tus servicios
                  de la menra mas fácil, práctica y segura posible.</p>
              </div>
              <div class="image col-4">
                <img src="assets/icons/instagram-svgrepo-com.svg" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="bullets">
      <label for="slide1"></label>
      <label for="slide2"></label>
      <label for="slide3"></label>
      <label for="slide4"></label>
    </div>
  </div>
</section>

<p></p>



  <div id='sectionInfo' class="row justify-content-md-center"  style="background-color:#383838">
    <div class="col-4 col-md-4" style="color:white">
      <img src="assets/icons/pago-servicios.png" width="120" height="120">
      <b>PAGÁ TUS SERVICIOS</b>
    </div>
    <div class="col-4 col-md-4" style="color:white">
      <img src="assets/icons/divisa.png" width="120" height="120">
      <b>TRANSFERÍ DIVISAS A TUS CUENTAS</b>
    </div>
    <div class="col-4 col-md-4" style="color:white">
      <img src="assets/icons/bitcoin.png" width="120" height="120">
      <b>OPERÁ CON CRIPTOMONEDAS</b>
    </div>
  </div>


  
  <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
    <div class="col-md-5 p-lg-5 mx-auto my-5">
      <h1 class="text-content-4 fw-normal">APPO!</h1 >
      <h3 class="text-content">La billetera virtual que hace más simple tu vida. No pierdas tiempo y registrate ahora mismo!</h3>
    </div>
    <div class="product-device shadow-sm d-none d-md-block"></div>
    <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
  </div>

  <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
    <div class="bg-dark me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
      <div class="my-3 py-3">
      <h2 class="text-content text-white">¿Cómo operar con criptomonedas?</h2>
        <p class="text-content text-white">La Billetera de Appo te permite comprar Bitcoins o cualquier otra criptomoneda, guardarlas de forma segura
          y
          venderlas cuando creas conveniente. Todo sujeto a comisiones. Podés realizar transferencias de criptos a
          otras
          billeteras virtuales.</p>
      </div>
      
  
    </div>
    <div class="bg-dark me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
      <div class="my-3 p-3">
        <h2 class="text-content text-white">Con tu cuenta en dólares...</h2>
        <p class="text-content text-white">Podés comprar y vender de manera seguro, con la mejor cotización del mercado. Sujeto a comisiones</p>
      </div>
      
    </div>
  </div>





