<app-pagservheader></app-pagservheader>

<p>servicios works!</p>

<section class = "lista_servicios">
    <span class = "item_servicio">
        <img src = "assets/pagservicios/aguas-cordobesas.png" alt = "Servicio" class = "imag_servicio" />
        <div>
        <h5 class = "l_negro">Aguas cordobesas</h5>
        <a routerLink = "/servicios/iddelservicio" class = "l_negro">Pagar</a>
        </div>
    </span>

    <span class = "item_servicio">
        <img src = "assets/pagservicios/ecogas-cordoba.png" alt = "Servicio" class = "imag_servicio" />
        <div>
        <h5 class = "l_negro">Ecogas</h5>
        <a routerLink = "/servicios/iddelservicio" class = "l_negro">Pagar</a>
        </div>
    </span>

    <span class = "item_servicio">
        <img src = "assets/pagservicios/epec-logo.jpg" alt = "Servicio" class = "imag_servicio" />
        <div>
        <h5 class = "l_negro">Epec</h5>
        <a routerLink = "/servicios/iddelservicio" class = "l_negro">Pagar</a>
        </div>
    </span>
  </section>
