<header>
    <nav id="navmenu" class="navbar">
        <div class="container">

            <div class="navbtns">
                <a [routerLink]="['/wallet']">INICIO</a>
                <a>CUENTAS</a>
                <a [routerLink]="['/transfer']">TRANSFERENCIAS</a>
                <a [routerLink]="['/pay-services']">PAGAR SERVICIOS</a>
                <a [routerLink]="['/home']">SALIR</a>
            </div>
        </div>
    </nav>
</header>

<br/>

<form role="form">
    <div class="login container p-3">
        <div class="row">
            <div class="d-inline-flex p-2 bd-highlight justify-content-center">
                <p class="h2">TRANSFERENCIA</p>
            </div>
        </div>
    
        <div class="row justify-content-center">
            <div class="col-6 p-2 m-2">
                <label for="transf" class="form-label h4 px-4">CVU de la cuenta a enviar dinero</label>
                <input type="transf" class="form-control" id="transf" aria-describedby="transfHelp">
            </div>
        </div>
    
        <div class="row justify-content-center">
            <div class="col-6 p-2 m-2">
                <label for="transf" class="form-label h4 px-4">¿Cuanto dinero queres enviar?</label>
                <input type="transf" class="form-control" id="transf" aria-describedby="transfHelp">
            </div>
        </div>
    
        
    
       
    
        
    
        <div class="row">
            <div class="d-inline-flex p-2 bd-highlight justify-content-center">
                <button type="button" class="button" data-bs-toggle="modal" data-bs-target="#exampleModal">CONTINUAR</button>
            </div>
        </div>
    
    
        
      
    </div>
    </form>
