<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Aqui va el logo</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
           
            <form class="d-flex form">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success button-form" type="submit">Search</button>
            </form>
          </div>
        </div>
      </nav>
   
   
    <nav id="navmenu" class="navbar navegation" >
        <div class="container-fluid">
            <div class="navbtns">
                <ul class="container nav-nav">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Quienes Somos</a></li>
                    <li><a href="#">Conocé PIL Money</a></li>
                    <li><a href="#">Contacto</a></li>
                </ul>
            </div>
            <div class="botons" >
                <a class="btn-1 btn-secondary" href="">Iniciá Sesión</a>
                <a class="btn-2 btn-secondary" href="">Regístrate</a>
            </div>
        </div>
    </nav>
</header>
