<footer id="footer">

    <div class="container">

        <div class="row p-4 d-flex flex-row align-items-center">
            <div class="col-6 logo">
                <p class="h1">APPO!</p>
            </div>
            <div class="col">
                <button type="button" class="button" routerLink = "/registrarse">CREÁ TU CUENTA</button>
            </div>
        </div>

        <div class="row navmenu p-4 ">
 
            <div class="col-4 ">
                <p>Sobre Nosotros</p>
                <p>
                    <a href="#">¿Quienes somos?</a>
                </p>
                <p>
                    <a href="#">Preguntas Frecuentes</a>
                </p>
                <p>
                    <a href="#">Contacto</a>
                </p>
            </div>
            <div class="col-3">
                <p>Servicios</p>
                <p>
                    <a href="#">Criptomonedas</a>
                </p>
                <p>
                    <a routerLink = "/servicios">Pagá tus servicios</a>
                </p>
                <p>
                    <a href="#">Dólares</a>
                </p>
            </div>
            <div class="col-3">
                <p>Soporte</p>
                <p>
                    <a href="#">Dejános tu opinión</a>
                </p>
                <p>
                    <a href="#">Ayuda</a>
                </p>
            </div>
            <div class="col-2">
                <p>Redes Sociales</p>
            </div>

        </div>

        <div class="row">
            <div class="col">
                <p class="disclaimer">Copyright © 2021 PilMoney  Grupo 4 Aula 4  - Córdoba, Argentina</p>
            </div>
        </div>
    </div>
</footer>
