<footer id="footer">

    <div class="container">

        <div class="row p-4 d-flex flex-row">
            <div class="col-6 logo">
                <p class="h1">APPO!</p>
            </div>
            <div class="col">
                <button type="button" class="button">CREÁ TU CUENTA</button>
            </div>
        </div>

        <div class="row navmenu p-4">

            <div class="col-4">
                <p>Sobre Nosotros</p>
                <p>¿Quienes somos?</p>
                <p>Preguntas Frecuentes</p>
                <p>Contacto</p>
            </div>
            <div class="col-3">
                <p>Sobre Nosotros</p>
                <p>¿Quienes somos?</p>
                <p>Preguntas Frecuentes</p>
                <p>Contacto</p>
            </div>
            <div class="col-3">
                <p>Sobre Nosotros</p>
                <p>¿Quienes somos?</p>
                <p>Preguntas Frecuentes</p>
                <p>Contacto</p>
            </div>
            <div class="col-2">
                <p>Redes Sociales</p>
            </div>

        </div>

        <div class="row">
            <div class="col">
                <p class="disclaimer">Copyright © 2021 PilMoney  Grupo 4 Aula 4  - Córdoba, Argentina</p>
            </div>
        </div>
    </div>
</footer>
