<header>
    <nav id="navmenu" class="navbar">
        <div class="container">

            <div class="navbtns">
                <a [routerLink]="['/wallet']">INICIO</a>
                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    CUENTAS
                </a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <li><a [routerLink]="['/wallet']" class="dropdown-item">CUENTA EN PESOS</a></li>
                    <li><a [routerLink]="['/not-found']" class="dropdown-item">CUENTA EN DÓLARES</a></li>
                    <li><a [routerLink]="['/not-found']" class="dropdown-item">CUENTA DE CRIPTOMONEDA</a></li>
                </ul>
                <a [routerLink]="['/transfer']">TRANSFERENCIAS</a>
                <a [routerLink]="['/pay-services']">PAGAR SERVICIOS</a>
                <a [routerLink]="['/inversion']">INVERSION</a>
                <a [routerLink]="['/home']">SALIR</a>
                
            </div>
        </div>
    </nav>
</header>

<br/>

<form [formGroup]="formInversion" (ngSubmit)="PostInversion()" >
    <div class="login container p-3">
        <div class="row">
            <div class="d-inline-flex p-2 bd-highlight justify-content-center">
                <p class="h2">HACE TU INVERSIÓN</p>
            </div>
        </div>
    
        <div class="row justify-content-center">
            <div class="col-6 p-2 m-2">
                <label class="form-label h4 px-4">Monto</label>
                <input formControlName = "monto_inversion" type="text" class="form-control" [class.is-invalid]="montoNoValido" ngSubmit>
                <small *ngIf="montoNoValido" style="color: red"
                        class="text-danger d-inline-flex m-2 px-4 bd-highlight justify-content-center">Ingrese un monto
                </small>
                
            </div>
        </div>
    
        <div class="row justify-content-center">
            <div class="col-6 p-2 m-2">
                <label class="form-label h4 px-4">Fecha de renovación</label>
                <input formControlName = "fecha_fin" type="text" class="form-control"  [class.is-invalid]="fechaNoValido" ngSubmit>
                <small *ngIf="fechaNoValido" style="color: red"
                        class="text-danger d-inline-flex m-2 px-4 bd-highlight justify-content-center">Ingrese una fecha
                </small>
            </div>
        </div>
    
        
    
       
    
        
    
        <div class="row">
            <div class="d-inline-flex p-2 bd-highlight justify-content-center">
                <button [disabled]="formInversion.invalid" type="submit" class="button">INVERTIR</button>
            </div>
        </div>
    
    
        
      
    </div>
</form>

<div class="login container p-3">
    <div class="row">
      <div class="d-inline-flex p-2 bd-highlight justify-content-center">
        <p class="h2">HISTORIAL DE INVERSIONES</p>
      </div>
        <p *ngFor="let inv of HistorialInversion">Invertiste un monto de $ {{ inv.montoInversion }}</p>
    </div>
</div>

