h4{
    color: black;
}

.button {
    background-color: #ff8c00;
    transition: all .2s ease;
}


nav {
    background-color: #696969;
}

/***************************  GENERAL UTILITIES  *****************************/ 

a {
    margin: .3rem;
    padding: .4rem;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 700;
    color: #c26e08;
    text-decoration: none;
    transition: all .1s;
    border-radius: .5rem;
}   

/***************************  NAVBAR  *****************************/ 


a:hover , .navbtns a:hover {
    color: #212121;
    background-color: #FB8F07;
}
.navbtns .bot_seleccionado:hover {
    color: #fff;
    background-color: #ff8c00;
}

body{
    background-color: rgb(245, 243, 243);
}


.container {
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #e6e6e6;
    border-radius: 2rem;
}
p, label {
    color: #000;
    font-weight: bolder;
    text-align: center;
}

h1{
    color: black;
}
input {
    border-color: #FB8F07;
    border-radius: 4rem;
    transition: all .3s ease;
}
input:focus {
    border-color: #f89f33;
    box-shadow: 0 0rem .5rem #f89f33;
}

p{
    color: black;
}

h4{
    color: black;
}

.button {
    background-color: #ff8c00;
    transition: all .2s ease;
}