<header>
    <nav id="navmenu" class="navbar">
        <div class="container">

            <div class="navbtns">
                <a [routerLink]="['/wallet']">INICIO</a>
                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    CUENTAS
                </a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <li><a [routerLink]="['/wallet']" class="dropdown-item">CUENTA EN PESOS</a></li>
                    <li><a [routerLink]="['/not-found']" class="dropdown-item">CUENTA EN DÓLARES</a></li>
                    <li><a [routerLink]="['/not-found']" class="dropdown-item">CUENTA DE CRIPTOMONEDA</a></li>
                </ul>
                <a [routerLink]="['/transfer']">TRANSFERENCIAS</a>
                <a [routerLink]="['/pay-services']">PAGAR SERVICIOS</a>
                <a [routerLink]="['/home']">SALIR</a>
            </div>
        </div>
    </nav>
</header>

<br/>

<form autocomplete="off" name="formTransfer" [formGroup]="formTransfer" (submit)="transferir()">
    <div class="login container p-3">
        <div class="row">
            <div class="d-inline-flex p-2 bd-highlight justify-content-center">
                <p class="h2">TRANSFERENCIA</p>
            </div>
        </div>
    
        <div class="row justify-content-center">
            <div class="col-6 p-2 m-2">
                <label for="cvu_destino" class="form-label h4 px-4">CVU de la cuenta a enviar dinero</label>
                <input type="text" class="form-control" id="text" aria-describedby="transfHelp" formControlName = "cvu_destino" [class.is-invalid]="cvuNoValido">
                <small *ngIf="cvuNoValido" style="color: red"
                        class="text-danger d-inline-flex m-2 px-4 bd-highlight justify-content-center">Ingrese un CVU correcto. 22 caracteres
                </small>
            </div>
        </div>
    
        <div class="row justify-content-center">
            <div class="col-6 p-2 m-2">
                <label for="monto" class="form-label h4 px-4">¿Cuanto dinero queres enviar?</label>
                <input type="text" class="form-control" id="text" aria-describedby="transfHelp" formControlName = "monto" [class.is-invalid]="montoNoValido">
                <small *ngIf="montoNoValido" style="color: red"
                        class="text-danger d-inline-flex m-2 px-4 bd-highlight justify-content-center">Ingrese un monto
                </small>
            </div>
        </div>
    
        
    
       
    
        
    
        <div class="row">
            <div class="d-inline-flex p-2 bd-highlight justify-content-center">
                <button [disabled]="formTransfer.invalid" (click)="PostTransferencia()" type="button" class="button" data-bs-toggle="modal" data-bs-target="#exampleModal">CONTINUAR</button>
            </div>
        </div>
    
    
        
      
    </div>
    </form>
