<div class="login container p-3">
    <div class="row">
        <div class="d-inline-flex p-2 bd-highlight justify-content-center">
            <p class="h2 l_negro">INGRESO</p>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-6 p-2 m-2">
            <label for="email" class="form-label h3 l_negro">Nombre de usuario o correo electrónico</label> <!-- h4 px-4 -->
            <input type="email" class="form-control" id="email" aria-describedby="emailHelp">
            <div id="disclaimer" class="text-dark form-text">
                <p class="d-inline-flex m-2 px-4 bd-highlight justify-content-center l_negro">Nosotros nunca compartiremos tu información con alguien más.</p>
            </div>
        </div>
    </div>
    <div class="row p-2 justify-content-center">
        <div class="col-6 mb-3 ">
            <label for="exampleInputPassword1" class="form-label h3 l_negro">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1">
            <a class="d-inline-flex p-2 bd-highlight justify-content-center l_negro" href="#">¿Olvidó su contraseña?</a>
        </div>
    </div>
    <div class="row">
        <div class="d-inline-flex p-2 bd-highlight justify-content-center">
            <button type="button" class="button">CONTINUAR</button>
        </div>
    </div>
</div>