.div_login{
  margin-left:25%;
  width:30%;

  border:1px solid gray;
  border-radius:3px;

  padding:5px;

  background-color: rgba(136, 152, 226, 0.911);

  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.12), 0 5px 5px 0 rgba(0, 0, 0, 0.12);
}

.inp_registro{
  width:70%;
  background-color:rgb(243, 243, 243);

  border-radius:5px;
}

.but_entrar{
  background-color:orange;
}

.enl_portada{
  color:rgb(83, 1, 83);
}
