<div>
    <form name="formLogin" [formGroup]="formLogin" (ngSubmit)="guardar()">
        <div class="login container p-3">
            <div class="row">
                <div class="d-inline-flex p-2 bd-highlight justify-content-center">
                    <p class="h2">INGRESO</p>
                </div>
            </div>

            <!--Campo correo-->

            <div class="row justify-content-center">
                <div class="col-6 p-2 m-2">
                    <label class="form-label h4 px-4">Correo electronico</label>
                    <input type="text" class="form-control" placeholder="Correo electrónico" formControlName="email" >
                    <small *ngIf="correoNoValido" style="color: red"
                        class="text-danger d-inline-flex m-2 px-4 bd-highlight justify-content-center">Ingrese un correo
                        electronico válido</small>

                </div>
            </div>

            <!--Campo password-->


            <div class="row justify-content-center">
                <div class="col-6 p-2 m-2">
                    <label class="form-label px-4 h3">Password</label>
                    <input type="password" class="form-control" placeholder="Contraseña" formControlName="password" >
                    <small *ngIf="passwordNoValido" style="color: red"
                        class="text-danger d-inline-flex m-2 px-4 bd-highlight justify-content-center">Ingrese una
                        contraseña válida
                    </small>

                    <p></p>
                    <a class="d-inline-flex p-2 bd-highlight justify-content-center px-4 text-center" href="#">¿Olvidó
                        su
                        contraseña?</a>
                </div>
            </div>



            <div class="row">
                <div class="d-inline-flex p-2 bd-highlight justify-content-center">
                    <a [routerLink]="['/wallet']">
                        <button type="submit" [disabled]="!formLogin.valid" class="button">
                            CONTINUAR
                        </button></a>

                    


                </div>
            </div>
        </div>
    </form>
</div>

<div>
    Valido: {{ formLogin.valid | json }}
    Estado: {{ formLogin.status }}
    Estado: {{ formLogin.value | json }}
</div>

