.titulo{
    font-size: 25px;
    background-color: rgb(68, 68, 68);
    color: white;
    padding: 10px;
}

.footer{
    background-color: rgb(68,68,68);
    text-align: center;
    color: white;
    padding: 10px;
    margin-top: 10px;
}

.seccion{
    background-color: rgba(226, 198, 39, 0.89);
    padding: 10px;
}

.navbar{
    margin-top: 10px;
    margin-bottom: 10px;
}

.ul_derecha{
  list-style:none;
}

