<h1>PRUEBA DE RAMA</h1>

<div class="fluid.container">
  <div class="titulo">
    <div class="col-md-12 well"><b>Programa PIL</b></div>
  </div>

  <div class="row">
    <div class="col-md-12 well">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">PIL</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">¿Quiénes somos?</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Iniciar Sesión</a>
            </li>
          </ul>

          <ul>
            <form class="form-inline">
              <input type="search" placeholder="Buscar" aria-label="Buscar">
              <button class="btn btn-outline-success my-0 my-sm-0" type="submit">Buscar</button>
            </form>
          </ul>
        </div>
      </nav>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8 well">
      <div class="seccion"><b>Sección principal</b></div>
      <div class="row">
        <img
          src="https://images.lavoz.com.ar/resizer/F5v3jWjSXnPFD96VABrxroIHlTU=/1023x682/smart/cloudfront-us-east-1.images.arcpublishing.com/grupoclarin/TD2CRETDJBFYVLGQXRIDIZC73U.jpg"
          width="903" height="450">
      </div>
    </div>

    <div class="col-md-4 well">
      <b>Escribe tus comentarios en nuestras redes sociales!</b>
      <div>
        <i class="bi bi-google"></i>
        <i class="bi bi-facebook"></i>
        <i class="bi bi-twitter"></i>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 well">
      <footer class="footer">
        <div class="container">
          <span class="text-muted">@Programa PIL 2021 </span>
        </div>
      </footer>
    </div>
  </div>
</div>




<router-outlet></router-outlet>