<header>
    <nav id="navmenu" class="navbar">
        <div class="container">

            <div class="navbtns">
                <a routerLink = "/servicios" routerLinkActive = "bot_seleccionado" [routerLinkActiveOptions] = "{exact:true}">Vista de servicios</a> <!--serv_activo?'bot_seleccionado':''-->
                <a routerLink = "/servicios/iddelservicio" routerLinkActive = "bot_seleccionado" [routerLinkActiveOptions] = "{exact:true}">Pagar servicio</a>
                <a routerLink = "/servicios/iddelservicio/comprobante" routerLinkActive = "bot_seleccionado">Comprobante del servicio</a>
            </div>
        </div>
    </nav>
</header>
