<header>
  <nav id="navmenu" class="navbar">
    <div class="container">

      <div class="navbtns">
        <a [routerLink]="['/wallet']">INICIO</a>
        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    CUENTAS
                </a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <li><a [routerLink]="['/wallet']" class="dropdown-item">CUENTA EN PESOS</a></li>
                    <li><a [routerLink]="['/not-found']" class="dropdown-item">CUENTA EN DÓLARES</a></li>
                    <li><a [routerLink]="['/not-found']" class="dropdown-item">CUENTA DE CRIPTOMONEDA</a></li>
                </ul>
        <a [routerLink]="['/transfer']">TRANSFERENCIAS</a>
        <a [routerLink]="['/pay-services']">PAGAR SERVICIOS</a>
        <a [routerLink]="['/home']">SALIR</a>
      </div>
    </div>
  </nav>
</header>

<br />

<form role="form">
  <div class="login container p-3">
    <div class="row">
      <div class="d-inline-flex p-2 bd-highlight justify-content-center">
        <p class="h2">PAGÁ TUS SERVICIOS</p>
      </div>
    </div>


    <!-- Formulario Filtro de busqueda, se ve cuando la accion es Listado(busqueda/listado)-->
    <form name="FormBusqueda" [formGroup]='FormBusqueda'>
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-4 col-md-2">
            <label class="col-form-label">Nombre:</label>
          </div>
          <div class="col-sm-8 col-md-4">
            <input type="text" name="Nombre" class="form-control" formControlName="Nombre" maxlength="55" />
          </div>
          <div class="row justify-content-center botones col-md-2">
            <button type="button" class="button" data-bs-toggle="modal" data-bs-target="#exampleModal"
              (click)="Buscar()">
              <i class="fas fa-search"> </i> Buscar
            </button>
          </div>
        </div>

        <hr>

      </div>
    </form>

    <!-- Tabla de resutados de busqueda y Paginador-->
    <div class="container-fluid">
      <div class="row">

        <div class="col-12">
          <table id='tablaDeServicios' class="table table-hover table-sm table-bordered table-striped">
            <thead>
              <tr>
                <th class="text-center">Nombre</th>
                <th class="text-center">Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of Items">
                <td>{{ item.nombreServicio | uppercase }}</td>
                <td class="text-center text-nowrap">
                  <button [routerLink]="['/pay-services-detail']" type="button" class="button" data-bs-toggle="modal" data-bs-target="#exampleModal"
                    title="Pagar">
                    PAGAR
                  </button>
              </tr>
            </tbody>
          </table>
        </div>

      </div>
    </div>









  </div>
</form>



<form role="form">
  <div class="login container p-3">
    <div class="row">
      <div class="d-inline-flex p-2 bd-highlight justify-content-center">
        <p class="h2">HISTORIAL DE PAGOS</p>
      </div>
      <p class="card-text">Pagaste Aguas Cordobesas</p>
      <p class="card-text">Pagaste Ecogas</p>
      <p class="card-text">Transferiste dinero</p>
      <p class="card-text">Transferiste dinero</p>
      <p class="card-text">Pagaste EPEC</p>
      <p class="card-text">Pagaste Aguas Cordobesas</p>
    </div>
  </div>
</form>


<p></p>
