<footer id="footer">

    <div class="container">

        <div class="row p-4 d-flex flex-row align-items-center">
            <div class="col-6 logo">
                <p class="h1">APPO!</p>
            </div>
            <div class="col">
                <button type="button" class="button">CREÁ TU CUENTA</button>

            </div>
        </div>

        <div class="row navmenu p-4 ">
 
            <div class="col-3 ">
                <p>Sobre Nosotros</p>
                <p>
                    <a href="#">¿Quienes somos?</a>
                </p>
                <p>
                    <a href="#">Preguntas Frecuentes</a>
                </p>
                <p>
                    <a href="#">Contacto</a>
                </p>
            </div>
            <div class="col-3">
                <p>Servicios</p>
                <p>
                    <a href="#">Criptomonedas</a>
                </p>
                <p>
                    <a href="#">Pagá tus servicios</a>
                </p>
                <p>
                    <a href="#">Dólares</a>
                </p>
            </div>
            <div class="col-3">
                <p>Soporte</p>
                <p>
                    <a href="#">Dejános tu opinión</a>
                </p>
                <p>
                    <a href="#">Ayuda</a>
                </p>
            </div>
            <div class="col-3">
                <p class="px-3">Redes Sociales</p>
                <div class="social-media">
                    <div class="icons">
                        <a href="http://facebook.com" target="_blank" rel="noopener noreferrer">
                            <img src="assets/icons/facebook-svgrepo-com (2).svg" alt="">
                        </a>
                        <a href="http://instagram.com" target="_blank" rel="noopener noreferrer">
                            <img src="assets/icons/instagram-svgrepo-com.svg" alt="">
                        </a>
                    </div>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col">
                <p class="disclaimer text-muted">Copyright © 2021 PilMoney  Grupo 4 Aula 3  - Córdoba, Argentina</p>
            </div>
        </div>
    </div>
</footer>
