<br/>

<div class="jumbotron container">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header display-6">
                    CONTACTO
                </div>
                <div class="card-body">
                    <i class="bi bi-geo-alt-fill"></i>
                    <p class="card-text lead">Córdoba, Argentina</p>
                    <p class="card-text lead">pil@pil.com.ar</p> 
                </div>
            </div>
        </div>
    </div>
</div>

<br/>