<br/>

<div class="jumbotron container">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header display-6">
                    PREGUNTAS FRECUENTES
                </div>
                <div class="card-body">
                    <i class="bi bi-geo-alt-fill"></i>
                    <p class="card-text lead">¿Quiénes somos?</p>
                    <p class="card-text lead">Somos un grupo del programa PIL en Nuevas Tecnologías 2021 del Gobierno de la Provincia de Córdoba, que tiene como objetivo la creación de una plataforma para una billetera virtual.</p> 

                    <p class="card-text lead">¿Qué es APPO?</p>
                    <p class="card-text lead">APPO es una billetera virtual, que permite realizar transacciones en pesos, pagar servicios, y operar con moneda extrajera y también criptomonedas.</p> 

                    <p class="card-text lead">¿Tiene aplicación para celular?</p>
                    <p class="card-text lead">Por el momento APPO no tiene aplicacion mobile ni para Android ni iOS.</p> 

                    <p class="card-text lead">¿Que es CVU?</p>
                    <p class="card-text lead">CVU son los acrónimos de Clave Virtual Uniforme.</p> 
                </div>
            </div>
        </div>
    </div>
</div>

<br/>