<form>
    <div class="login container p-3">
        <div class="row">
            <div class="d-inline-flex p-2 bd-highlight justify-content-center">
                <p class="h2">DEJANOS UN MENSAJE</p>
            </div>
        </div>

        <!--Campo correo-->

        <div class="row justify-content-center">
            <div class="col-6 p-2 m-2">
                <label class="form-label h4 px-4">Dejá tu mensaje, tu opinion nos interesa</label>
                <textarea type="text" class="form-control"></textarea>

            </div>
        </div>

        <div class="row">
            <div class="d-inline-flex p-2 bd-highlight justify-content-center">
                
                    <button class="button">
                        ENVIAR OPINIÓN
                    </button>
            </div>
        </div>
    </div>
</form>